
body {
        background-color: #ebf1f1;
    }
hr {
    border-color: #a9b3b2;
    border-style: dotted none none;
    border-width: .3em 4px;
     width: 5%;
    }

h1,h2,h3 {
    color: #61bfbf;
}    

